/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
   /*Odkomentarisati ako se prikazuje vise od 8 logova. */
  height: 100%;
  /* Odkomentarisati ako se prikazuje vise od 8 logova. */
}

body {
  width: 100%;
  /* Odkomentarisati ako se prikazuje vise od 8 logova. */
  height: 100%;
  /* Odkomentarisati ako se prikazuje vise od 8 logova. */
  padding-top: 50px;
}
