<div class="container">
  <!-- Modal -->
  <div class="modal" id="myModal" style="display: block; background: rgba(0,0,0, 0.5);" *ngIf="show">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
          <h5 class="modal-title">Log ID: {{modalBodyLog.id}}</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-2"> <h4>Log text:</h4> </div>
            <div class="col-sm-10" style="max-height: 200px; overflow: auto;"> <h5> {{modalBodyLog.text}}</h5> </div>
          </div>

          <div class="row">
            <div class="col-sm-2"> <h4>MAC:</h4> </div>
            <div class="col-sm-10"> <h5>{{modalBodyLog.macaddress}}</h5> </div>
          </div>

          <div class="row">
            <div class="col-sm-2"> <h4>Service:</h4> </div>
            <div class="col-sm-10"> <h5>{{modalBodyLog.service}}</h5> </div>
          </div>

          <div class="row">
            <div class="col-sm-2"> <h4>Time:</h4> </div>
            <div class="col-sm-10"> <h5> <span class="color-opacity-radius mdb-color lighten-3 text-center pt-3" style="font-size: 16px;">{{modalBodyLog.date}}</span></h5> </div>
          </div>
        </div>

        <div class="modal-footer {{modalClass}}" style="margin: 5px; padding: 5px; border-radius: 5px;">
          <div class="row">
            <div class="col-sm-10" style="text-align: left">
              <div> <h4>Severity type: {{modalBodyLog.severityType}}</h4> </div>
            </div>
            <div class="col-sm-2"> <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hide()">Close</button> </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container" id="main-container">

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 color-opacity-radius" id="id-search-form">
      <form (ngSubmit)="searchLogsBeginning()" style="padding: 5px;">
        <label for="id-searchCriteria">Search like this: attribute = value and/or/not date before/after/between dd.MM.yyyy. HH:mm:ss</label>
        <input type="text" [(ngModel)]="searchCriteria" class="form-control mr-sm-2" id="id-searchCriteria" name="searchCriteria" placeholder="attribute = value and/or/not date before/after/between dd.MM.yyyy. HH:mm:ss">
        <button class="btn btn-primary btn-md" type="submit" [disabled]='searchCriteria == "" || searchCriteria == undefined' style="margin-top: 5px;">Search</button>
        <button class="btn btn-primary btn-md" type="button" (click)="getLogsBeginning()" style="margin-top: 5px; float: right;">Browse logs</button>
      </form>
    </div>
  </div>

  <h3 *ngIf="logs?.content?.length > 0" class="container">
    <div class="col-lg-offset-2 col-lg-2 centered-text"><button *ngIf="page > 0" (click)="searchDone ? previousSearchPage() : previousLogsPage()" class="btn-default btn btn-md"> Previous page </button></div>
    <div class="col-lg-4 centered-text"><h3 class="color-opacity-radius" style="margin-top: 0;"> Page {{page + 1}} of {{logs.totalPages}}</h3></div>
    <div class="col-lg-2 centered-text"><button *ngIf="page == 0 || page < logs.totalPages-1" (click)="searchDone ? nextSearchPage() : nextLogsPage()" class="btn-default btn btn-md"> Next page </button></div>
  </h3>

  <h3 *ngIf="logs?.content?.length == 0" class="container color-opacity-radius centered-text">Your search gave no results</h3>

  <h3 *ngIf="errorMessage !== ''" class="centered-text color-opacity-radius alert-danger">{{errorMessage}}</h3>

  <div *ngIf=" ! loading && ! logs?.content?.length == 0" class="color-opacity-radius">
    <table class="table table-hover table-condensed logs-table">
      <thead>
      <tr>
        <th>Log text</th>
        <th>Log ID</th>
        <th>MacAddress</th>
        <th>Service</th>
        <th><i class="far fa-clock"></i>&nbsp;Date and time</th>
      </tr>
      </thead>
      <tbody>
        <tr (click)="reveal(log)" *ngFor="let log of logs.content" [ngClass]="{'danger': log.severityType == 'ERROR', 'warning': log.severityType == 'WARNING', 'critical': log.severityType == 'CRITICAL' }">
          <td class="col-sm-4"><p title="{{log.text}}">{{log.text}}</p></td>
          <td>{{log.id}}</td>
          <td>{{log.macaddress}}</td>
          <td>{{log.service}}</td>
          <td>
            <div class="color-opacity-radius mdb-color lighten-3 text-center pt-3" style="padding-top: 0!important;">
              <p>{{log.date}}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loading" class="container">
    <div class="col-sm-offset-5 col-sm-4 loader"></div>
  </div>
</div>
