<nav class="navbar navbar-inverse navbar-fixed-top">

  <!-- Header -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a *ngIf="!isAuthenticated()" class="navbar-brand" routerLink="/login"> Login </a>
    <p *ngIf="isAdmin()" class="navbar-brand active"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admin </p>
    <p *ngIf="isOperator()" class="navbar-brand active"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Operator </p>
  </div>

  <!-- Items -->
  <div class="collapse navbar-collapse" id="topNavBar">

    <ul class="nav navbar-nav">
      <li>
        <a *ngIf="isAuthenticated()" class="navbar-brand" routerLink="/logs">
          <i class="fas fa-copy fa-lg"></i>&nbsp; Logs
        </a>
      </li>
      <li>
        <a *ngIf="isAuthenticated()" class="navbar-brand" routerLink="/alarm-rules">
          <i class="far fa-list-alt fa-lg"></i>&nbsp; Alarm Rules
        </a>
      </li>
      <li>
        <a *ngIf="isAdmin()" class="navbar-brand" routerLink="/fired-alarms">
          <i class="fas fa-exclamation-circle fa-lg"></i>&nbsp; Fired Alarms
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right container-fluid">
      <li>
        <a *ngIf="isAdmin()" class="navbar-brand" routerLink="/add-alarm">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Alarm
        </a>
      </li>
      <li>
        <a class="navbar-brand" routerLink="/login">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          &nbsp; <span *ngIf="isAuthenticated()">Logout</span><span *ngIf="!isAuthenticated()">Login</span>
        </a>
      </li>
    </ul>

  </div>

</nav>
