<div class="row">
  <h1 style="text-align: center">Register</h1>
</div>
<div class="row">
  <form role="form" class="col-md-4 col-lg-offset-4" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type="password" id="password" name="password" [(ngModel)]="user.password"
             placeholder="Password">
    </div>
    <div class="form-group">
      <label for="first-name">First name:</label>
      <input class="form-control" type="text" id="first-name" name="first-name" [(ngModel)]="user.firstName" placeholder="John">
    </div>
    <div class="form-group">
      <label for="last-name">Last name:</label>
      <input class="form-control" type="text" id="last-name" name="last-name" [(ngModel)]="user.lastName" placeholder="Doe">
    </div>
    <div class="form-group">
      <label>Role:</label><br>
      <input type="radio" id="radio-role-author" name="radio-role" value="AUTHOR" checked>
      <label for="radio-role-author">&nbsp; Author</label><br>
      <input type="radio" id="radio-role-reviewer" name="radio-role" value="REVIEWER">
      <label for="radio-role-reviewer">&nbsp; Author and reviewer</label><br>
    </div>
    <div class="form-group">
      <button class="form-control btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-4 col-lg-offset-4" style="text-align: center; font-size: 15px;">
    <span>Already a member? <a href="/#/login"><u><b>Login</b></u></a></span>
  </div>
</div>
