.toaster {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 30%;
  z-index: 3000;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.alert.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  line-height: 2em;
  overflow-wrap: break-word;
}

.delete-btn {
  cursor: pointer;
  color: #a9a9a9;
  font-size: 1.5em;
  vertical-align: sub;
}


/* Testing purposes only! */
.send {
  float: right;
  /*background: url("../../../assets/send.png");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  content: 'send';
  height: 30px;
  width: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.footer{
  background: #cccccc;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}
.send-button{
  margin: 0 auto;
  height: 70%;
  width: 50%;
}
input{
  padding-left: 5px;
  float: right;
  height: 30px;
  border-radius: 15px;
  font-size: 1.5em;
}
