<div class="row">
  <h1 style="text-align: center"><label>Change password</label></h1>
</div>

<div class="row">

  <div class="alert alert-danger" *ngIf="errorMessage" style="padding: 10px;">
    {{errorMessage}}
  </div>
  <form [formGroup]="newPasswordFormGroup" role="form" class="col-md-4 col-lg-offset-4" (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="old-password">Old password:</label>
      <input [(ngModel)]="oldPassword"
             type="password"
             id="old-password"
             class="form-control"
             formControlName="oldPasswordCtrl"
             [formGroup]="newPasswordFormGroup"
             placeholder="Old password">
    </div>
    <div *ngIf="newPasswordFormGroup.controls['oldPasswordCtrl'].touched && !newPasswordFormGroup.controls['oldPasswordCtrl'].valid">
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['oldPasswordCtrl'].hasError('required')">
        Old password is required.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['oldPasswordCtrl'].hasError('minlength')">
        Password must contain at least 6 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="new-password">New password:</label>
      <input [(ngModel)]="newPassword"
             type="password"
             id="new-password"
             class="form-control"
             formControlName="newPasswordCtrl"
             [formGroup]="newPasswordFormGroup"
             placeholder="New password">
    </div>
    <div *ngIf="newPasswordFormGroup.controls['newPasswordCtrl'].touched && !newPasswordFormGroup.controls['newPasswordCtrl'].valid">
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['newPasswordCtrl'].hasError('required')">
        Password is required.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['newPasswordCtrl'].hasError('minlength')">
        Password must contain at least 6 characters.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['newPasswordCtrl'].hasError('maxlength')">
        Password can not be longer than 30 characters.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls.newPasswordCtrl.errors?.missingSpecial">
        Password must contain a special character (@, #, $ or %).
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls.newPasswordCtrl.errors?.missingNumber">
        Password must contain a number.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls.newPasswordCtrl.errors?.missingUpper">
        Password must contain an uppercase letter.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls.newPasswordCtrl.errors?.missingLower">
        Password must contain an lowercase letter.
      </div>
    </div>

    <div class="form-group">
      <label for="repeated-password">Repeat password:</label>
      <input [(ngModel)]="repeatedPassword"
             type="password"
             id="repeated-password"
             class="form-control"
             formControlName="repeatedPasswordCtrl"
             [formGroup]="newPasswordFormGroup"
             placeholder="Repeat password">
    </div>
    <div *ngIf="newPasswordFormGroup.controls['repeatedPasswordCtrl'].touched && !newPasswordFormGroup.controls['repeatedPasswordCtrl'].valid">
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['repeatedPasswordCtrl'].hasError('required')">
        Repeated password is required.
      </div>
      <div class="alert alert-danger" *ngIf="newPasswordFormGroup.controls['repeatedPasswordCtrl'].hasError('passwordMismatch')">
        Repeated password must match with the new one.
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]='!newPasswordFormGroup.valid'>Change password</button>
    </div>
  </form>
</div>
