<div>
  <h2>Submit paper:</h2>
  <div>
    <form (ngSubmit)="submitPaperAndLetter(); myNgForm.resetForm()" #myNgForm="ngForm">
      <div class="form-group">
        <label for="textarea-paper">Paper XML</label>
        <textarea id="textarea-paper" class="form-control" rows="7" [(ngModel)]="paper" name="textarea-paper"></textarea>
      </div>
      <div class="form-group">
        <label for="textarea-letter">Letter XML</label>
        <textarea id="textarea-letter" class="form-control" rows="3" [(ngModel)]="letter" name="textarea-letter"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit paper and letter</button>
    </form>
  </div>
</div>
