h2, h3 { margin-top: 5px; }

.centered-text {
  text-align: center;
}

.color-opacity-radius {
  background-color: rgba(253, 251, 255, 0.8); /*rgba(60,120,255, 0.3)*/
  padding: 3px;
  border-radius: 10px;
}

.logs-table td p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 360px;
  text-align: left;

  color: black;
  margin-bottom: 0;
}

li { border-radius: 10px; }


/* Table */
th {
  text-align: center;
  font-size: 15px;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(30, 144, 255, 0.3);
  color: black;
}

td {
  padding: 6px!important;
  text-align: center;
}

.table>tbody>tr.critical>td {
  background-color: rgba(255, 0, 0, 0.9)!important;
}

.table>tbody>tr.danger>td {
  background-color: rgba(255, 0, 0, 0.4)!important;
}

.table>tbody>tr.warning>td {
  background-color: rgba(240, 240, 0, 0.6) !important;
}

.table>tbody>tr.success>td {
  background-color: limegreen!important;
}
