<div class="container" id="main-container">

  <h2 class="centered-text" style="margin-bottom: 20px;"> Fired alarms </h2>

  <h3 *ngIf="alarms?.content?.length > 0" class="container">
    <div class="col-lg-offset-2 col-lg-2 centered-text"><button *ngIf="page > 0" (click)="previousPage()" class="btn-default btn btn-md"> Previous page </button></div>
    <div class="col-lg-4 centered-text"><h3 class="color-opacity-radius" style="margin-top: 0;"> Page {{page + 1}} of {{alarms.totalPages}}</h3></div>
    <div class="col-lg-2 centered-text"><button *ngIf="page == 0 || page < alarms.totalPages-1" (click)="nextPage()" class="btn-default btn btn-md"> Next page </button></div>
  </h3>

  <h3 *ngIf="errorMessage !== ''" class="centered-text color-opacity-radius alert-danger">{{errorMessage}}</h3>

  <div *ngIf=" ! loading && ! alarms?.content?.length == 0" class="color-opacity-radius">
    <table class="table table-hover table-condensed logs-table">
      <thead>
      <tr>
        <th>Alarm text</th>
        <th>Alarm ID</th>
        <th>MacAddress</th>
        <th>Service</th>
        <th class="col-sm-2"><i class="far fa-clock"></i>&nbsp;Date and time</th>
      </tr>
      </thead>
      <tbody>

      <!--String id;-->
      <!--String severity;-->
      <!--String macAddress;-->
      <!--LocalDateTime dateTime;-->
      <!--String service;-->
      <!--String text;-->
      <tr *ngFor="let alarm of alarms.content" [ngClass]="{'danger': alarm.severity == 'ERROR', 'warning': alarm.severity == 'WARNING', 'critical': alarm.severity == 'CRITICAL' }">
        <td class="col-sm-4"><p title="{{alarm.text}}">{{alarm.text}}</p></td>
        <td>{{alarm.id}}</td>
        <td>{{alarm.macaddress}}</td>
        <td>{{alarm.service}}</td>
        <td>
          <div class="color-opacity-radius mdb-color lighten-3 text-center pt-3" style="padding-top: 0!important;">
            <p style="text-align: center;">{{alarm.dateTime}}</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loading" class="container">
    <div class="col-sm-offset-5 col-sm-4 loader"></div>
  </div>
</div>
